<div class="image-header">
  <img alt="Dapper Products" class="img-responsive" src="/images/DapperBox BG3.png"></div>
    <div class="w-container"> <br />
      <h3 class="w-hidden-tiny" id="page-nav-Section-1">Thank you for subscribing!</h3>
    </div>

    <h3 class="w-hidden-main w-hidden-medium w-hidden-small">Thank you for Subscribing!</h3>

<div class="w-container">
	<p>You're first package will ship out immediately.  If you ordered prior to the 20th you can expect your next box next month.  For orders after the 20th your next box ships on the following month.  If you have any questions please contact admin@mydapperbox.com.  Thank you for being a customer! </p>
</div>